.datePicker {
    border-radius: 5px;
    min-width: 320px;
    width: 100%;
    height: fit-content;
    user-select: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: large;
    gap: 10px;
    height: 50px;
    overflow: hidden;
    color: #f7f7f7;
}
.monthYear{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 19px;
    padding-top: 7px;
    float: right;
}

.monthYear > span:last-child{
    margin-left: 10px;
}

.monthYear > .material-symbols-outlined{
    margin-left: 5px;
    margin-bottom: 2px;
}

.previous {
    box-sizing: border-box;
    text-align: right;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    min-height: 5vh;
    overflow-y: hidden;
}

.next {
    text-align: left;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    min-height: 5vh;
    overflow-y: hidden;
}
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daysGrid {
    display: grid;
    min-height: 220px;
    gap: 5px;
    grid-template-columns: repeat(7, auto);
    text-align: center;
}
.weekDayName {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.weekNameBar {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-auto-flow: column;
    text-align: center;
    gap: 10px;
    margin-bottom: 5px;
    height: 20px;
    color: #f7f7f7;
}

