.mainContainer {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  overflow-x: auto;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 24px;
  margin-left: 30px;
}

.title {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 5px;
}

.notFound {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notFound > img {
  width: 40%;
}

.notFound > h2{
  font-size: 28px;
}

.questionsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(28, 121, 184, 0.015);
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.userInfo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 5px;
}

.logout:hover {
  cursor: pointer;
  color: #1c79b8;
}

.line {
  width: 100%;
  border-top: 1px solid rgba(112, 128, 144, 0.31);
}

.info {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
  }

  .notFound > img {
    width: 80%;
  }

  .notFound > h2{
    font-size: 20px;
  }

}
