.wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
}

.mainContainer{
    /*width: 80vw;*/
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*align-items: flex-start;*/
    /*justify-content: center;*/
    background-color: #f7f7f7;
}