.loginRegisterBtn{
    background-color: #18446d;
    color: white;
    height: 60px;
    width: 20vw;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
}

.loginRegisterBtn:hover{
    background-color: orange;
    transition: all 0.3s ease-in-out;
    border: none;
}

.wrapper{
    width: 20vw;
}

.inputField{
    color: #344055;
    height: 45px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #0f3f65;
    border-radius: 10px;
    outline: none;
    margin-bottom: 40px;
    margin-top: 15px;
    position: relative;
    width: 20vw;
}

.inputField:focus{
    border: 2px solid #1c79b8;
}

.succesfullRegister{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.succesfullRegister > img {
    width: 15vw;
    margin: 50px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}
