.loader {
    margin: auto;
    border-radius: 50%;
    border-color: #225098 transparent;
    animation: spin 0.7s infinite ease-out;
    aspect-ratio: 1/1;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
