.dateInfo {
  height: fit-content;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border: 1px solid rgba(213, 213, 213, 0.64);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  gap: 20px;
  padding: 0 20px;
  background-color: white;
}

.text{
margin: 20px;
  color: #222;
  font-weight: 500;
  font-size: 18px;
}

.select {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
  /*background-color: #e8ebef;*/
  height: min-content;
  border-radius: 5px;
}

.dateInfoRow {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid rgb(213, 213, 213);
  margin: 20px;
  gap: 20px;
  padding: 20px;
}

.selectedDays {
  max-height: 170px;
  overflow-y: auto;
}

.selectedDays > .selectedDay {
  margin: 5px;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  gap: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.selectedDay {
  font-size: 20px;
  margin: 0;
  color: #072c48;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.navigation {
}

.navigation > span {
  font-size: 30px;
  cursor: pointer;
}

.settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
  border-bottom: 1px solid rgb(213, 213, 213);
  padding-bottom: 20px;
}

.bodyCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

/* Style for the select element */
select {
  padding: 10px; /* Padding for the dropdown */
  border: 1px solid #4d3636; /* Border color */
  border-radius: 4px; /* Rounded corners */
  background-color: white;
  font-weight: bold;
  color: #444; /* Text color */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  outline: none; /* Removes the default focus outline */
  min-width: 100px;
}

select option {
  padding: 8px; /* Padding for each option */
  background-color: white; /* Background color for options */
  color: #333; /* Text color for options */
}

option {
  padding: 28px; /* Padding for each option */
  background-color: white; /* Background color for options */
  color: #333; /* Text color for options */
}

/* You can add additional styling for hover, focus, etc. */
select:hover {
  outline: 2px solid #1c79b8; /* Adds a highlight color when focused */
  outline-offset: -2px;
}

select:focus {
  outline: 2px solid #1c79b8; /* Adds a highlight color when focused */
  outline-offset: -2px;
}
