.datePicker {
  width: 80vw;
  user-select: none;
  display: grid;
  background-color: white;
  box-sizing: border-box;
  color: #606060;
  height: 100vh;
  overflow-y: auto;
}

.calendarBody {
  display: grid;
  grid-template-columns: 1fr repeat(7, 2fr);
}

.dayDetails {
  height: 80px;
  border: 1px solid slategrey;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(7, 64, 101, 0.09);
  flex-direction: column;
  display: grid;
  grid-template-columns: auto auto;
}

.dayDetails > div *{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.today > div *{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.today {
  height: 80px;
  border: 2px solid #054270;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(7, 64, 101, 0.09);
  flex-direction: column;
  display: grid;
  grid-template-columns: auto auto;
}

.today > div > h1{
  color: #054270;
}

.today > div > .year{
  color: rgba(5, 66, 112, 0.71);
}

.today > div > .month{
  color: rgba(5, 66, 112, 0.71);
}

.today > div > .weekDay{
  color: rgba(5, 66, 112, 0.92);
}

h1 {
  color: slategrey;
  font-size: 55px;
}

.year{
  font-size: 25px;
  color: rgba(112, 128, 144, 0.58);
  font-weight: bold;
}

.month{
  font-size: 16px;
  color: rgba(112, 128, 144, 0.58);
  font-weight: bold;
}

.weekDay{
  font-size: 16px;
  color: rgba(112, 128, 144, 0.87);
  font-weight: bold;
}

.dayNames {
  display: grid;
  grid-template-columns: 1fr repeat(7, 2fr);
  background-color: #f7f7f7;
}

.headerNavigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  position: relative;
  /*background-color: rgba(7, 64, 101, 0.09);*/
  background-color: #f7f7f7;
  box-sizing: border-box;
  border-top: 1px solid slategrey;
  border-right: 1px solid slategrey;
  border-left: 1px solid slategrey;
  width: inherit;
  height: 80px;
  z-index: 999;
}

.timeSlot {
  height: var(--cell-height);
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(7, 64, 101, 0.09);
  font-size: 20px;
}

.emptySlot {
  height: 70px;
  border: 1px solid #ccc;

  box-sizing: border-box;
  padding: 10px;
  background-color: #eeeeee;
}

.occupiedSlot {
  height: var(--cell-height);
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #d902d9;
}

.unsetSlot {
  height: var(--cell-height);
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
  opacity: 0.9;
  background: #ffffff
    repeating-linear-gradient(
      -45deg,
      #d0d0d0,
      #d0d0d0 2px,
      #ffffff 2px,
      #ffffff 10px
    );
  cursor: pointer;
}

.selectionWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid slategray;
  width: 28%;
  margin-bottom: 10px;
}
.selection {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: x-large;
  border-radius: 5px;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}
.header {
  display: grid;
  grid-template-columns: 23% auto 23%;
  align-items: center;
  background-color: #f7f7f7;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
  overflow: hidden;
  color: #344055;
}
#monthYear {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  min-height: 5vh;
  cursor: pointer;
}
#monthYear:hover {
  background-color: rgb(241, 241, 241);
}

#previous {
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  min-height: 5vh;
  overflow-y: hidden;
  padding-left: 30px;
}

#previous:hover {
  background-color: rgb(241, 241, 241);
}

#next {
  text-align: right;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  min-height: 5vh;
  overflow-y: hidden;
  padding-right: 30px;
}

#next:hover {
  background-color: rgb(241, 241, 241);
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day {
  height: 40px;
  font-size: large;
  color: white;
  background-color: rgba(15, 63, 101, 0.8);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
}
.empty {
  height: 40px;
  font-size: large;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
}

.closedDay {
  height: var(--cell-height);
  font-size: large;
  color: white;
  background-color: rgba(255, 167, 167, 0.25);
  display: flex;
  /*opacity: 0.5;*/
  /*background: repeating-linear-gradient(*/
  /*  -45deg,*/
  /*  #f74545,*/
  /*  #f74545 2px,*/
  /*  #ffffff 2px,*/
  /*  #ffffff 10px*/
  /*);*/
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  box-sizing: border-box;
  border-top: 1px solid slategrey;
  border-left: 1px solid slategrey;
  border-right: 1px solid slategrey;
}

.day:hover {
  background-color: #1888ff;
  transition: 0.15s all ease;
}

.pastDay {
  font-size: large;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: white;
  background-color: rgb(207, 206, 206);
  cursor: pointer;
}
.daysGrid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  min-height: 220px;
  gap: 5px;
  text-align: center;
}
.weekDayName {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.weekNameBar {
  display: grid;
  grid-auto-columns: minmax(0, auto);
  grid-auto-flow: column;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 2vh;
}

.freeSlot {
  height: var(--cell-height);
  box-sizing: border-box;
  background-color: rgba(34, 139, 215, 0.06);
  border: 1px solid #ccc;
  cursor: pointer;
  padding-top: 1px;
  padding-bottom: 2px;
  position: relative;
}

.selectedSlot {
  box-sizing: border-box;
  height: var(--cell-height);
  background-color: rgb(255, 230, 78);
  border: 2px solid orange;
  cursor: pointer;
}

.appointment {
  height: calc(var(--cell-height) - 4px);
  background-color: #ffa1ff;
  width: 95%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.2s all ease-in-out;
  box-sizing: border-box;
  margin-left: -1px;
  display: grid;
  grid-template-columns:7% 93% ;
}

.appointment:hover .bar {
  width: 70%;
}

.bar {
  background-color: #d902d9;
  height: inherit;
  width: 40%;
  transition: 0.2s all ease-in-out;
}

.content{
}

.userName{
  color: #230023;
  font-size: 18px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.contentDetails{
  color: #720072;
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.weekNavigation{
  height: inherit;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  margin: 0 30px;
}

.weekNavigation > div > span{
  font-size: 40px;
  color: black;
}

.weekNavigation > div:hover > span{
  cursor: pointer;
  color: #054270;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.sidebarItemSelected {
  background-color: #18446d;
  height: 50px;
  width: 350px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.sidebarItem {
  display: flex;
  align-items: center;
  height: 50px;
  width: 350px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 19px;
  transition: all 0.3s ease-in-out;
  background-color: rgba(7, 64, 101, 0.09);
}

.sidebarItem:hover{
  transition: all 0.3s ease-in-out;
  background-color: #18446d;
}

.sidebarItem:hover .clickableSidebarItem{
  transition: all 0.3s ease-in-out;
  color: white;
}

.sidebarItemSelected .clickableSidebarItem{
  color: white;
}

.absoluteRight{
  position: absolute;
  right: -15px;
  top: 30%;
}

.clickableSidebarItem {
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  width: 310px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  color: #515d6e;

}

.calendar {
  position: absolute;
  top: 70px;
  background-color: #18446d;
  width: 350px;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}


.contextMenu{
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contextMenuItem{
  cursor: pointer;
  transition: all ease-in-out 0.3s ;
  padding: 10px;
  box-sizing: border-box;
  width: inherit;
}

.contextMenuItem:hover{
  background-color: #e7e7e7;
  transition: all ease-in-out 0.3s ;
}