.wrapper{
    display: grid;
    grid-template-columns: 25vw 75vw;
    background-color: #f7f7f7;

    height: calc(100vh - 80px);
}

/*button{*/
/*    text-transform: uppercase;*/
/*    height: 40px;*/
/*    padding-left: 25px;*/
/*    padding-right: 25px;*/
/*    font-size: 120%;*/
/*    border: 2px solid #344055;*/
/*    color: #344055;*/
/*    border-radius: 10px;*/
/*    background-color: transparent;*/
/*    transition: all .2s ease-in-out;*/
/*    cursor: pointer;*/
/*}*/

.internalNavigation{
    width: 21vw;
    height: 60px ;
    background-color: white;
    border-bottom: 1px solid #18446d;
    display: grid;
    place-items: center;
}

.internalNavigation > * {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title2{
    font-size: 2rem;
    color: #0f3f65;
    font-weight: bolder;
    font-stretch: expanded;
    text-transform: uppercase;

}


.goBack{
    font-size: 1.4rem;
    color: #0f3f65;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 30px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.goBack:hover{
    background-color: #f7f7f7;
}

.goBack > span {
    font-size: 30px;
}

.title{
    font-size: 2rem;
    color: #0f3f65;
    font-weight: bolder;
    font-stretch: expanded;
    text-transform: uppercase;
    margin: 50px;
}

.btn-loader{
    height: 20px;
    width: 20px;
    z-index: 20;
    margin: auto;
    border: 5px solid transparent;
    border-radius: 50%;
    animation: btn-spinner 1s linear infinite;
}

@keyframes btn-spinner {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid #ffa941;
    }
    50% {
        border-top: 5px solid white;
    }
    100% {
        transform: rotate(360deg);
        border-top: 5px solid #ffa941;
    }
}

.loadBtn{
    width: 300px;
}

.loader {
    z-index: 20;
    margin: auto;
    border: 15px solid #ffffff;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    width: 6vw;
    height: 6vw;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
        border-top: 15px solid #18446d;
    }
    50% {
        border-top: 15px solid white;
    }
    100% {
        transform: rotate(360deg);
        border-top: 15px solid #1c79b8;
    }
}


.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    background-color: white;
    position: sticky;
    top: 0;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 80px);
    border-right: 1px solid slategrey;
}

.error{
    color: #cb0000;
    margin-bottom: 100px;
}

.mainContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
}

.questionContainer{

}

.calendar{
    padding: 30px;
}