.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
    min-height: 100vh;
}

.title{
    font-size: 5rem;
    color: #0f3f65;
    font-weight: bolder;
    font-stretch: expanded;
    text-transform: uppercase;
    margin: 50px;
}