.formPage {
  width: 25vw;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  border: 1px solid rgba(24, 68, 109, 0.25);

  padding: 5px 10px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 1px;
}

.pageIndex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
  position: relative;
}

#line {
  width: 160px;
  background-color: #052c46;
  height: 4px;
  bottom: 65px;
  position: absolute;
}

#lineDisabled {
  width: 160px;
  /*background-color: #8795a1;*/
  background-image: linear-gradient(to right, #052c46, #cdd5da);
  height: 4px;
  bottom: 65px;
  position: absolute;
}

.holly {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  gap: 20px;
  font-weight: bolder;
  color: #052c46;
}

.hollyDisabled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  gap: 20px;
  font-weight: bolder;
  color: #cdd5da;
}

.hollyDisabled > .indexButton {
  color: white;
  border: 4px solid #cdd5da;
  background-color: #cdd5da;
}

.indexButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  /*border: 4px solid  #052c46;*/
  border: none;
  justify-content: center;
  background-color: #052c46;
  color: white;
  align-items: center;
  transform: scale(0.7);
  font-size: 24px;
  font-weight: bold;
}

#inputs {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 20vw;
}

.fieldTitle{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

#swichDiv {
  height: 30px;
  width: 22vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

#swichDivNone {
  display: none;
}

.choiceP {
  font-size: 22px;
  font-weight: bolder;
  color: rgb(238, 49, 88);
  transition: 0.5s all;
}

.choiceD {
  font-size: 22px;
  font-weight: bolder;
  color: rgba(135, 149, 161, 0.67);
  transition: 0.5s all;
}

/* Classes for slider toggle */

.switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(238, 49, 88);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(238, 49, 88);
}

.error {
  color: rgb(238, 49, 88);
  font-size: 15px;
  margin-top: 10px;
  height: 20px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.title {
  margin-top: 30px;
  margin-bottom: 0;
  color: #464b52;
  font-weight: 500;
  font-size: 25px;
}

.inputField {
  color: #344055;
  height: 45px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid slategrey;
  border-radius: 7px;
  outline: none;
  width: 20vw;
  margin-bottom: 20px;
}

p{
  margin: 0;
}

.wrapper {
  width: 20vw;
}

.succesfullRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.succesfullRegister > img {
  width: 15vw;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.loginRegisterBtn {
  background-color: rgb(238, 49, 88);
  color: white;
  height: 60px;
  width: 20vw;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-in-out;
  box-shadow:
    rgba(0, 0, 0, 0.32) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: none;
}

.loginRegisterBtn:hover {
  background-color: white;
  color: rgb(238, 49, 88);
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(238, 49, 88);
}

@media screen and (max-width: 768px) {
  .formPage {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }

  .wrapper {
    width: 80vw;
  }

  input{
    z-index: 0;
  }

  .inputField {
    z-index: 0;
    color: #344055;
    height: 45px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid slategrey;
    border-radius: 7px;
    outline: none;
    margin-top: 10px;
    width: 80vw;
  }

  .choiceP {
    font-size: 20px;
  }

  .choiceD {
    font-size: 20px;
  }

  #swichDiv {
    width: 82vw;
  }

  .loginRegisterBtn {
    width: 80vw;
  }

  .switch {
    width: 54px;
    height: 27px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: rgb(238, 49, 88);
  }

  .error {
    color: rgb(238, 49, 88);
    font-size: 15px;
    margin-top: 10px;
    height: 20px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 27px;
  }

  .slider.round:before {
    border-radius: 50%;
  }


}
