#navbar{
    /*background-color: rgb(5, 44, 70);*/
    background-color:  rgb(15, 63, 101);
    height: 9vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation{
    background-color: rgba(236, 236, 236, 0.05);
    height: 6vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.32) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

#logo{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Pathway Extreme', sans-serif;
    font-size: x-large;
    font-weight: lighter;
}

.nav-item{
    color: #ff9100;
}

#menu{
    font-size: xx-large;
}

.spacer{
    font-weight: bold;
    font-size: x-large;
    color: #344055;
}

#menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

p{
    color: white;
    font-size: larger;
    font-family: sans-serif;
}