.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    /*background-color: rgba(53, 154, 243, 0.04);*/
    background-color: white;
    overflow-x: hidden;
}

/*  ---------------- Mobile Classes --------------*/

#check-email-img{
    width: 50vw;
    margin-bottom: -90px;
    /*height: 30vw;*/
}

#m-controls{

    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    padding: 10px;
    height: 80vw;
    box-sizing: border-box;
    background-color: rgba(53, 154, 243, 0.04);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.32) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#m-controls-big{

    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    padding: 10px;
    height: 140vw;
    box-sizing: border-box;
    background-color: rgba(53, 154, 243, 0.04);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.32) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    width: 80vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows:  auto auto;
}

#m-controls > .mcontrolsinput{
}

.mcontrolsinput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}



.info{
    color: #18446d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 60vw;
}

.title{
    color: #18446d;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 300%;
    box-sizing: border-box;
    text-align: center;
    font-stretch: condensed;
    margin: 10vh 10vw 2vh;
    letter-spacing: 9px;
}

.actionBtn{
    margin: 10px 0;
    width: 190px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 120%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(15, 63, 101);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.actionBtn:focus{
    outline: none;
    border: 2px solid orange;
    box-shadow: 0 0  1px 1px orange;
}

.actionBtn:disabled{
    /*background-color: rgb(145, 144, 144);*/
    /*color: #b9b9b9;*/
    /*cursor: inherit;*/
    opacity: 0.7;
    border: none;
}

.activeBtn:disabled{
    opacity: 0.7;
    border: none;
}

/* *:focus{

    box-shadow: 0 0  1px 1px orange;
    border: 2px solid orange;
    outline: none;
} */

.activeBtn{
    color: white;
    background-color: rgb(15, 63, 101);
    margin: 10px 0;
    width: 190px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 120%;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px ;
}

#answerCall{
    height: 100px;
    width: 100px;
    font-size: 200%;
    color: white;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    background-color: green;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    20% {
        transform: scale(0.95);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    40% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.7);
    }

    60% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    80% {
        transform: scale(0.95);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

#answerPhone-icon{
font-size: 40px;
}

.infop{
    color: rgb(5, 44, 70);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 120%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
}

/* ---------------------- Videos ----------------------- */

#m-video-component {
    width: 90vw;
    height: 90vh;
    padding: 10px;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    /*background-color: #dde1e5;*/
    display: grid;
    /*background-color: #27213C;*/
    background-color: rgb(5, 44, 70);
    grid-template-rows: 80vh 10vh;

}

#m-videos {
    width: inherit;
    position: relative;
    user-select: none;
}


#m-remote-video-container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#m-remoteVideo {
    border-radius: 10px;
    aspect-ratio: 9/16;
    height: 75vh;
}


#m-local-video-container{
    position: absolute;
    bottom: -5px;
    right: 5px;
    margin: 10px 0;
    z-index: 10;
    /*transition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/
    border-radius: 10px;
    overflow-y: hidden;
}

#m-localVideo {
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgb(5, 44, 70) ;
    aspect-ratio: 9/16;
    width: 30vw;
}


/* video controls : mute show cam .... */

.mvideocontrols{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: 15;
    width: inherit;
}

.mcontrolbutton{
    width: 30px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    transition: 0.4s ease-in-out;
    background-color: #576490;
}

#m-close-call{
    background-color: red;
}

/* loading animation */

.loaderWrapper{
    position: absolute;
    top: 50%;
    height: 10vh;
    width: 10vh;
    z-index: 20;
}

.btnLoader{
    height: 20px;
    width: 20px;
    z-index: 20;
    margin: auto;
    border: 5px solid transparent;
    border-radius: 50%;
    animation: btn-spinner 1s linear infinite;
}

@keyframes btn-spinner {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid #ffa941;
    }
    50% {
        border-top: 5px solid white;
    }
    100% {
        transform: rotate(360deg);
        border-top: 5px solid #ffa941;
    }
}

.loader {
    z-index: 20;
    margin: auto;
    border: 10px solid #ffffff;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        border-top: 10px solid #ffa941;
    }
    50% {
        border-top: 10px solid white;
    }
    100% {
        transform: rotate(360deg);
        border-top: 10px solid #ffa941;
    }
}



