.wrapper {
  display: grid;
  background-color: #f7f7f7;
  gap: 20px;
}

.mainContainer {
  display: grid;
  grid-template-rows: 80px calc(100% - 80px);
  height: 100%;
  overflow-y: auto;
  background-color: #f2f6fc;
}

.line {
  width: 100%;
  border-top: 1px solid rgba(112, 128, 144, 0.31);
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(201, 230, 255, 0.02);
  font-weight: 500;
  font-size: 24px;
  margin-left: 30px;
}

.title {
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 5px;
}

.info {
  margin: 5px 0;
  font-size: 16px;
  color: #777;
}

.body {
  width: 100%;
  padding: 4% 25%;
  height: fit-content;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.calendarAndInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 18vw;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: 17vw;
  padding: 10px;
  border-radius: 5px;
  background-color: #072c48;
  height: 50px;
}

.datePickerWrapper {
  height: 450px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(213, 213, 213, 0.64);
}

.cardWrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
}
