.wrapper {
  display: grid;
  background-color: #f7f7f7;
  gap: 20px;
}

.calendarAndInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 18vw;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: 17vw;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(53, 154, 243, 0.07);
  height: 50px;
}

.dateProperties {
  width: 18vw;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #18446d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dateDetails {
  width: 28vw;
  min-height: 30vh;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #18446d;
  display: grid;
  grid-template-columns: 50% 50%;
}

.timeRepresentation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.timeStamps {
}

.timeStamp {
  height: 40px;
  box-sizing: border-box;
  border-top: 2px solid #18446d;
  border-left: 2px solid #18446d;
  padding-left: 5px;
  padding-top: 1px;
  width: 80px;
}

.timeStamps .timeStamp:last-child {
  border-bottom: 2px solid #18446d;
}

.slots {
}

.slots *:last-child {
  border-bottom: 2px solid #18446d;
}

.freeSlot {
  box-sizing: border-box;
  height: 40px;
  background-color: rgba(28, 121, 184, 0.58);
  border-top: 2px solid #18446d;
  border-left: 2px solid #18446d;
  border-right: 2px solid #18446d;
  width: 120px;
  cursor: pointer;
}

.selectedSlot {
  box-sizing: border-box;
  height: 40px;
  background-color: rgb(255, 230, 78);
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  border-right: 2px solid orange;
  width: 120px;
  cursor: pointer;
}

.occupiedSlot {
  box-sizing: border-box;
  height: 40px;
  background-color: rgb(255, 89, 0);
  border-top: 2px solid #18446d;
  border-left: 2px solid #18446d;
  border-right: 2px solid #18446d;
  width: 120px;
  cursor: pointer;
}

.breakSlot {
  box-sizing: border-box;
  height: 40px;
  background-color: rgba(75, 95, 112, 0.3);
  border-top: 2px solid #18446d;
  border-left: 2px solid #18446d;
  border-right: 2px solid #18446d;
  width: 120px;
  cursor: pointer;
}

.slots > * {
  display: grid;
  place-items: center;
  font-size: 16px;
  color: #18446d;
}

.slotInfo {
  width: 13vw;
  height: 20vh;
  background-color: #f7f7f7;
  border: 1px solid #8795a1;
  padding: 10px;
  box-sizing: border-box;
}

.workingArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dateInfo {
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #18446d;
}

.startend {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 15vw;
}

.infoHeader {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.infoBody {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.selectBtn {
  width: 12vw;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  margin: 15px 0;
  background-color: rgba(53, 154, 243, 0.07);
  border: 1px solid slategrey;
  transition: 0.3s all ease-in-out;
}

.selectBtn:hover {
  transition: 0.3s all ease-in-out;
  color: orange;
}

select {
  background-color: rgba(53, 154, 243, 0.07);
  padding: 5px;
  border: 1px solid slategrey;
  border-radius: 5px;
  margin: 0;
  min-width: 70px;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.datePickerWrapper {
  width: 18vw;
  border: 1px solid #18446d;
}
