.footer{
    background-color:#393939;

    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100vw;
    color: white;
}

#logo-img{
    width: 10vw;
}
