.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.datePickerWrapper {
  height: 500px;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 30px;
  width: 100%;
}

.calendarWrapper {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(7, 2fr);
  min-height: 1000px;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.headerCell {
  user-select: none;
  width: 100%;
  height: 110px;
  border: 1px solid rgb(238, 238, 238);
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
}
.circle {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.headerInteriorCell {
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
  border-radius: 10px;
}

.dayNumber {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}

.monthName {
  font-size: 14px;
  margin: 0;
}

.year {
  font-size: 14px;
  margin: 0;
}

.dayOfTheWeek {
  margin-top: -7px;
  margin-bottom: -3px;
  font-size: 14px;
  font-weight: bold;
}

.monthYear {
  display: flex;
  gap: 5px;
  height: 21px;
}

.cell {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.cellInterior {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
  transition: 0.2s all ease-in-out;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cellInterior:hover {
  background-color: #a1d0ff;
  color: white;
  transition: 0.4s all ease-in-out;
}
.cellInterior:hover > * {
  background-color: #1888ff;
  color: white;
  transition: 0.2s all ease-in-out;
}

.timecell {
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #7a7a7a;
}

.cellClosed {
  width: 100%;
  border: 1px solid rgb(238, 238, 238);
  height: 70px;
  cursor: not-allowed;
  box-sizing: border-box;
  background: #ffffff
    repeating-linear-gradient(
      -45deg,
      #f0f0f0,
      #f0f0f0 5px,
      #ffffff 5px,
      #ffffff 10px
    );
  pointer-events: none;
}

.leftcell {
  width: 100%;
  height: 70px;
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
}

.closed {
  padding-left: 20px;
  color: #c9c9c9;
  font-weight: bold;
  font-size: 14px;
}

.bar {
  width: 3%;
  height: 100%;
  background-color: lime;
  border-radius: 10px;
}

.makeAppointment {
  width: 40%;
  border-radius: 10px;
  height: 250px;
  border: 1px solid rgb(238, 238, 238);
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.titlu {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(238, 238, 238);
  text-align: center;
  font-size: 25px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0;
}

.dayInfo {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.info{
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
}


.makeAppointment div:last-child {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
}
