.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img{
    height:70%;
    aspect-ratio: inherit;
}


@media screen and (max-width: 768px){
    .img{
        height: 40%;
    }
}
