.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100vh;
}

.actionBtn{
    margin: 10px 0;
    width: 190px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 120%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(15, 63, 101);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.actionBtn:focus{
    outline: none;
    border: 2px solid orange;
    box-shadow: 0 0  1px 1px orange;
}

.actionBtn:disabled{
    /*background-color: rgb(145, 144, 144);*/
    /*color: #b9b9b9;*/
    /*cursor: inherit;*/
    opacity: 0.7;
    border: none;
}

.activeBtn:disabled{
    opacity: 0.7;
    border: none;
}

/* *:focus{

    box-shadow: 0 0  1px 1px orange;
    border: 2px solid orange;
    outline: none;
} */

.activeBtn{
    color: white;
    background-color: rgb(15, 63, 101);
    margin: 10px 0;
    width: 190px;
    text-transform: uppercase;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 120%;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px ;
}

.videos {
    height: 100%;
    position: relative;
    user-select: none;
    margin-right: 10px;
    display: grid;
    grid-template-rows: auto 50px;

}

.remoteVideoContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

.connectionControls{
    flex-grow: 1;
    /*background-color: #8795a1;*/
    background-color: white;
    border-radius: 10px;
    display: grid;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    grid-template-rows: auto auto  ;
}

.localVideoControl{
    margin-top: 10px;
    z-index: 10;
    /*aspect-ratio: 16/9;*/
    /*height: 30vh;*/
    width: 20vw;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 10px;
    overflow-y: hidden;
}

.localVideo {
    border-radius: 10px;
    width: inherit;
    height: max-content;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #8795a1;
}

.videoControls{
    /*top: 93%;*/
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    z-index: 15;
    width: inherit;
}

.controlButton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: slategrey;
    border: none;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.controlButton:hover{
    background-color: #576490;
}

#close-call:hover{
    background-color: red;
}

.loader {
    margin: auto;
    border: 10px solid #dedede;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    height: 10vh;
    width: 10vh;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        border-top: 10px solid #ffa941;
    }
    50% {
        border-top: 10px solid #dedede;
    }
    100% {
        transform: rotate(360deg);
        border-top: 10px solid #ffa941;
    }
}

.controlsInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.remoteVideo {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.videoComponent {
    width: 95%;
    height: 90%;
    padding: 10px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /*box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: grid;
    background-color: #054270;
    grid-template-columns: auto 20vw;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.container input {
    letter-spacing: 15px;
    width:110px;
    font-size: 150%;
    font-weight: bold;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    outline: 0;
    border-radius: 10px;
    color: slategrey;
}

input{
    border: 2px solid #344055;
}

